html {
  font-family: sans-serif;
  background: #eee;
}

body {
  max-width: 40em;
  margin: auto;
  color: #825;
  background: #fff;
  padding: 1em;
}

h1#title {
  background: #444;
  color: #ccc;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

nav {
  font-size: 80%;
  text-align: center;
  background-color: #eee;
}
nav p {
  display: inline;
}
nav ul {
  margin: 0;
  padding: 0 1em;
  display: inline;
}
nav li {
  font-weight: bold;
  display: inline;
  padding: 0 1em;
}

a {
  text-decoration: none;
  color: #793;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 115%;
}

img {
	max-width: 80%;
}
a img
{
  border: 1px #e8b solid;
}
img.left {
  float: left;
  margin-right: 10px;
}
img.icon {
	max-width: 3em;
}

dt {
	font-weight: bold;
}


pre {
  background-color: #eee;
}
