html {
  font-family: sans-serif;
  background: #eee;
}

body {
  max-width: 40em;
  margin: auto;
  color: #825;
  background: #fff;
  padding: 1em;
}

h1#title {
  color: #ccc;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
h1#title:before {
  content: "Woozle";
  font-size: 3em;
  font-weight: normal;
  padding-right: 1em;
}

nav {
  font-size: 80%;
  text-align: center;
}
nav ul {
  background-color: #eee;
  margin: 0;
  padding: 0 1em;
}
nav li {
  font-weight: bold;
  display: inline;
  padding: 0 1em;
}

a {
  text-decoration: none;
  color: #793;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 150%;
  border-bottom: 1px solid #ddd;
}

h2 {
  font-size: 115%;
}

a img
{
  border: 1px #e8b solid;
}
img.left {
  float: left;
  margin-right: 10px;
}

pre {
  background-color: #eee;
}
