<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="icon" type="image/png" href="assets/images/icon.png">
    </head>
    <body>
        <h1 id="title">{{ page.title }}</h1>
{{ content }}
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/derby/">Roller Derby</a></li>
			<li><a href="/scoreboard/">Scoreboard</a></li>
		</ul>
	</nav>
    </body>
</html>
